
    <footer class="chk-footer">
      By placing this order you agree to our Terms & Refund policy.
    </footer>
  </main>
  
  <!-- Scripts -->
  <% if (paymentKeyId) { %>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <% } %>
  <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/plugins.js"></script>
  <script src="/public/js/active.js"></script>

  <!-- Light Checkout Interactions -->
  <script src="/public/js/checkout.js"></script>
</body>
</html>
